<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />

    <link rel="stylesheet" href="/css/boostrap.min.css" type="text/css" media="all" />

  </head>
  <body>

    {{{body}}}

  </body>

</html>
